<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /shopbanhang/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /shopbanhang/index.php [L]
</IfModule>
